<!--begin home-banner-wrapper-->
<div id="home-banner-wrapper">
	
	<div id="home-banner">
		
		<div id="home-banner-content">
			<h2 class="title">{{ pages.home-banner.title }}</h2>
			<p>{{ pages.home-banner.content }}</p>
			<ul>
				<li><a href="collections/all">View our Catalog</a></li>
			</ul>
		</div>

		<div id="home-banner-image">
			<img src="{{ 'home-banner-img.png' | asset_url }}" />
		</div>
	
	</div>
	
</div>
<!--end home-banner-wrapper-->

